[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vhern/Desktop/The Elder Scrolls V Skyrim - Special Edition.desktop]
row=4
col=0

[28d27700-aa16-4861-ab52-6d256d0537cc]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/vhern]
row=3
col=0

