[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vhern/VirtualBox VMs]
row=4
col=1

[/home/vhern/Dukto]
row=0
col=1

[/home/vhern/snap]
row=5
col=0

[/home/vhern/Development]
row=6
col=0

[/home/vhern/dockerImages]
row=3
col=2

[/home/vhern/development-scripts]
row=8
col=0

[/home/vhern/Videos]
row=5
col=1

[/home/vhern/Documents]
row=8
col=1

[/home/vhern/AUR]
row=4
col=0

[/home/vhern/Public]
row=0
col=2

[/home/vhern/Downloads]
row=2
col=2

[/home/vhern/Music]
row=7
col=1

[/home/vhern/auto-cpufreq]
row=1
col=1

[/home/vhern/Pictures]
row=6
col=1

[/home/vhern/Sources]
row=3
col=1

[/home/vhern/Games]
row=2
col=1

[/home/vhern/proj.zip]
row=7
col=0

[/home/vhern/Templates]
row=1
col=2

[28d27700-aa16-4861-ab52-6d256d0537cc]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/vhern]
row=3
col=0

